# Section 5.1: More on Lists

- Lists are mutable and support several methods:
  - `append`: Add an element to the end.
  - `extend`: Add multiple elements.
  - `insert`: Add an element at a specific index.
  - `remove`: Remove the first occurrence of a value.

In [8]:
# List Operations
fruits = ['orange', 'apple', 'pear']

# Append
fruits.append('kiwi')
print("After append:", fruits)

# Extend
fruits.extend(['banana', 'mango'])
print("After extend:", fruits)

# Insert
fruits.insert(1, 'peach')
print("After insert:", fruits)

# Remove
fruits.remove('apple')
print("After remove:", fruits)

#remove using index
fruits.remove(fruits[0])
print("After remove index", fruits)

After append: ['orange', 'apple', 'pear', 'kiwi']
After extend: ['orange', 'apple', 'pear', 'kiwi', 'banana', 'mango']
After insert: ['orange', 'peach', 'apple', 'pear', 'kiwi', 'banana', 'mango']
After remove: ['orange', 'peach', 'pear', 'kiwi', 'banana', 'mango']
After remove index ['peach', 'pear', 'kiwi', 'banana', 'mango']

In [9]:
numbers = [1, 2, 3, 4, 5]
updated_list = list(map(lambda x: x ** 2 if x % 2 == 0 else x, numbers))
print(updated_list)

[1, 4, 3, 16, 5]

# Section 5.1: More on Lists (cont.)

- Additional List Methods:
  - `pop`: Remove and return an element.
  - `clear`: Remove all elements.
  - `index`: Get the index of an element.
  - `count`: Count occurrences of an element.
  - `reverse`: Reverse the list.
  - `copy`: Create a shallow copy.

In [10]:
# Advanced List Operations
fruits = ['apple', 'banana', 'cherry']

# Pop
item = fruits.pop()  # Removes last item
print("Popped item:", item)

# Pop at the first element
item = fruits.pop(0)  # Removes last item
print("Popped item:", item)

# Clear
fruits.clear()
print("After clear:", fruits)

# Index
fruits = ['apple', 'banana', 'cherry']
index = fruits.index('banana')
print("Index of 'banana':", index)

# Count
print("Count of 'apple':", fruits.count('apple'))

# Reverse
fruits.reverse()
print("Reversed list:", fruits)

# Copy
copied_list = fruits.copy()
print("Copied list:", copied_list)

new_fruits="orange"
fruits[1] = new_fruits
print("Original list",fruits)
print("Shallow copied list",copied_list)

#create new alias
grocery = fruits

Popped item: cherry
Popped item: apple
After clear: []
Index of 'banana': 1
Count of 'apple': 1
Reversed list: ['cherry', 'banana', 'apple']
Copied list: ['cherry', 'banana', 'apple']
Original list ['cherry', 'orange', 'apple']
Shallow copied list ['cherry', 'banana', 'apple']

# Section 5.1.1: Using Lists as Stacks

- Lists can be used as stacks (Last-In, First-Out).
- Use `append` to add items and `pop` to remove the last item.

- Example Code demonstrates stack operations.

In [11]:
# Stack Implementation
stack = [3, 4, 5]

# Push
stack.append(6)
stack.append(7)
print("Stack after push:", stack)

# Pop
stack.pop()
print("Stack after pop:", stack)

Stack after push: [3, 4, 5, 6, 7]
Stack after pop: [3, 4, 5, 6]

In [12]:
### Problems: Reverse a string using stack ###
str = "Today is a happy day"

stack_str = []

reversed_str = ""

for index in range(len(str)):
    stack_str.extend(str[index])
print("Stack string:",stack_str)

for index in range(len(str)):
    reversed_str += stack_str.pop()
print("Reversed string:",reversed_str)
print("Reversed string using slicing", str[::-1])

Stack string: ['T', 'o', 'd', 'a', 'y', ' ', 'i', 's', ' ', 'a', ' ', 'h', 'a', 'p', 'p', 'y', ' ', 'd', 'a', 'y']
Reversed string: yad yppah a si yadoT
Reversed string using slicing yad yppah a si yadoT

# Section 5.1.2: Using Lists as Queues

- For efficient First-In, First-Out operations, use `collections.deque`.
- Append to the end and pop from the beginning.

- Example Code demonstrates queue operations.

In [13]:
from collections import deque

# Queue Implementation
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")  # Enqueue
queue.append("Graham")

print("Queue:", queue)

queue.popleft()  # Dequeue
print("After dequeuing:", queue)

Queue: deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])
After dequeuing: deque(['John', 'Michael', 'Terry', 'Graham'])

### Starbucks Queue Problems

A line at Starbuck has 6 buyers: John, Susan, David, Matthew, Jay, Kim, Lan (starting with John and ending with Lan). After the barista sell coffee to 2 prople, another buyer, Hu, joined the queue. Impletement a data structure in Python represent this queue and ensure that first person in the queue is the first person leave the queue.

In [14]:
### Implement our Starbucks Queue problems here ###
from collections import deque

starbucks_queue = deque(["John", "Susan", "David", "Matthew", "Jay", "Kim", "Lan"])
print("Original Queue:", starbucks_queue)

for i in range(8):
  print(starbucks_queue.popleft(), "got coffee")
  if i == 1:
    starbucks_queue.append("Hu")

Original Queue: deque(['John', 'Susan', 'David', 'Matthew', 'Jay', 'Kim', 'Lan'])
John got coffee
Susan got coffee
David got coffee
Matthew got coffee
Jay got coffee
Kim got coffee
Lan got coffee
Hu got coffee

# Section 5.1.3: List Comprehensions

- List comprehensions provide a concise way to create lists.
- Syntax: `[expression for item in iterable if condition]`
- Example Code demonstrates list comprehensions.

In [15]:
# List Comprehension Examples

# Squares
squares = [x**2 for x in range(10)]
print("Squares:", squares)

# Filtered Squares
filtered_squares = [x**2 for x in range(10) if x % 2 == 0]
print("Filtered squares:", filtered_squares)

Squares: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
Filtered squares: [0, 4, 16, 36, 64]

# Section 5.2: The `del` statement
- The `del` statement can be used to:
  - Remove an item from a list given its index.
  - Remove slices from a list.
  - Delete entire variables.

- **Differences from `pop`:**
  - `pop()` removes and returns an item.
  - `del` removes an item but does not return it.

- **Note:**
  - After using `del` on a variable, referencing the variable will result in an error.

- Example Code demonstrates various use cases of the `del` statement.

In [16]:
# Using the del statement

# Remove an item by index
fruits = ['apple', 'banana', 'cherry', 'date']
del fruits[1]  # Removes 'banana'
print("After deleting index 1:", fruits)

# Remove a slice
fruits = ['apple', 'banana', 'cherry', 'date']
del fruits[1:3]  # Removes 'banana' and 'cherry'
print("After deleting slice [1:3]:", fruits)

# Delete entire variable
x = 10
print("x before deletion:", x)
del x
# Uncommenting the next line will raise an error as x no longer exists
# print(x)

After deleting index 1: ['apple', 'cherry', 'date']
After deleting slice [1:3]: ['apple', 'date']
x before deletion: 10

# Section 5.3: Tuples and Sequences

- Tuples are immutable sequences of values.
- They can be unpacked into variables.

- Example Code demonstrates tuples and unpacking.

In [17]:
# Tuples and Unpacking
t = (12345, 54321, 'hello')

# Access Elements
print("Tuple:", t)

# Unpacking
x, y, z = t
print("Unpacked values:", x, y, z)

Tuple: (12345, 54321, 'hello')
Unpacked values: 12345 54321 hello

# Section 5.4: Sets

- Sets are unordered collections with no duplicate elements.
- Sets are created using curly bracket '{ }' (Similar to dictionary but without
key:value pair)
- Perform operations like union, intersection, and difference.
- 0/1 vs False/True are considered as the same in set.
- You can also use set() constructor to create set. Be sure that your input is iteratable

- Example Code demonstrates set operations.

In [18]:
# Set Operations
basket = {'apple', 'orange', 'apple', 'pear'}
print("Unique items:", basket)

# Duplicated Items will be ignored
grocery = {'beef', 'chicken', 'egg', 'beef'}
print("No duplicate set:", grocery)

# Set Comprehension
a = {x for x in 'abracadabra' if x not in 'abc'}
print("Set comprehension:", a)

# 0/1 vs False/True example:
my_set = {True, 1, 0, False}
print("Set with 0 and False:", my_set)

# Set contructor
dinner = set(['beef', 'chicken', 'egg'] )
print("Set constructor:", dinner)

Unique items: {'orange', 'pear', 'apple'}
No duplicate set: {'beef', 'chicken', 'egg'}
Set comprehension: {'d', 'r'}
Set with 0 and False: {0, True}
Set constructor: {'beef', 'chicken', 'egg'}

### Operations for Set

  - `set.add(item)`: add item to set
  - `set.remove(item)`: remove item from set. Will raise error if item is not found
  - `set.discard(item)`: remove item from set. Will not raise error if item is not found
  - Mathematical operation on set A and set B:
    - `A-B`: return a difference set
    - `A|B`: return a union set
    - `A&B`: return an intersection set
    - `A^B`: return a symmetric difference set
    - Note that mathematical operation on set will return a new set

In [19]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

#Add item to A
A.add(10)
print("After adding 10 to A:", A)

#Remove item from A
A.remove(10)
print("After removing 10 from A:", A)

#Discard item from A
A.discard(10)
print("After discarding 10 from A:", A)

After adding 10 to A: {1, 2, 3, 4, 5, 10}
After removing 10 from A: {1, 2, 3, 4, 5}
After discarding 10 from A: {1, 2, 3, 4, 5}

In [20]:
#Mathematical operation on set

difference_set= A-B
union_set= A|B
intersection_set= A&B
symmetric_difference= A^B
print("Difference set:", difference_set)
print("Union set:", union_set)
print("Intersection set:", intersection_set)
print("Symmetric difference set:", symmetric_difference)

Difference set: {1, 2, 3}
Union set: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection set: {4, 5}
Symmetric difference set: {1, 2, 3, 6, 7, 8}

# Section 5.5: Dictionaries

- Dictionaries store key-value pairs.
- Keys must be unique and immutable.

- Example Code demonstrates dictionary operations.

In [21]:
# Dictionary Operations
tel = {'jack': {4098 : 'birthday'}, 'sape': 4139}

# Add Entry
tel['guido'] = 4127
print("Dictionary:", tel)

#Change Entry
tel['jack'] = 4098
print("After change:", tel)

# Delete Entry
del tel['sape']
print("After deletion:", tel)

# Check Key
print("Is 'jack' in dictionary?", 'jack' in tel)

Dictionary: {'jack': {4098: 'birthday'}, 'sape': 4139, 'guido': 4127}
After change: {'jack': 4098, 'sape': 4139, 'guido': 4127}
After deletion: {'jack': 4098, 'guido': 4127}
Is 'jack' in dictionary? True

# Section 5.5: Dictionaries - Key-Value Pairs and Key Constraints

- **Dictionaries Overview**:
  - A dictionary is a collection of **key-value pairs**, where:
    - **Keys must be unique** within a dictionary.
    - **Values can be any type**.

- **Creating Dictionaries**:
  - A dictionary is defined using `{ key: value }` pairs.
  - An empty dictionary is created using `{}`.

- **Indexing in Dictionaries**:
  - Unlike sequences (which use numerical indexes), **dictionaries are indexed by keys**.
  - Keys can be **any immutable type**:
    - Strings, numbers, and tuples (if they contain only immutable elements) **can** be keys.
    - **Lists cannot be keys** because they are mutable.

- **Example Code demonstrates these concepts.**

In [22]:
# Creating a Dictionary
student_scores = {
    "Alice": 85,
    "Bob": 90,
    "Charlie": 78
}
print("Dictionary:", student_scores)

# Accessing Values by Key
print("Alice's Score:", student_scores["Alice"])

# Adding a New Key-Value Pair
student_scores["David"] = 92
print("After adding David:", student_scores)

# Creating an Empty Dictionary
empty_dict = {}
print("Empty Dictionary:", empty_dict)

# Using Different Types as Keys
valid_dict = {
    42: "The Answer",
    3.14: "Pi",
    (1, 2): "Tuple Key"  # Tuple as a key
}
print("Dictionary with various key types:", valid_dict)

# Invalid Dictionary Example (Uncommenting the next line will raise an error)
# invalid_dict = { [1, 2, 3]: "List as key" }  # Lists cannot be used as keys
# print(invalid_dict)

Dictionary: {'Alice': 85, 'Bob': 90, 'Charlie': 78}
Alice's Score: 85
After adding David: {'Alice': 85, 'Bob': 90, 'Charlie': 78, 'David': 92}
Empty Dictionary: {}
Dictionary with various key types: {42: 'The Answer', 3.14: 'Pi', (1, 2): 'Tuple Key'}

# Section 5.6: Looping Techniques

- Loop through dictionary items using `items()`.
- Use `enumerate()` for index-value pairs.
- Use `zip()` to loop through multiple sequences.

- Example Code demonstrates looping techniques.

In [35]:
# Looping Techniques
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Looping through dictionary using items()
for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

# Enumerate
for index, value in enumerate(['tic', 'tac', 'toe']):
    print(f"Index: {index}, Value: {value}")

# Zip
questions = ['name', 'quest', 'favorite color']
answers = ['Lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print(f"What is your {q}? {a}")

Key: name, Value: Alice
Key: age, Value: 25
Key: city, Value: New York
Index: 0, Value: tic
Index: 1, Value: tac
Index: 2, Value: toe
What is your name? Lancelot
What is your quest? the holy grail
What is your favorite color? blue

- To loop over a sequence in **reverse**:
  - Use the `reversed()` function.
  - The original sequence remains unaltered.

- To loop over a sequence in **sorted order**:
  - Use the `sorted()` function.
  - Returns a new sorted list while leaving the source sequence unchanged.

- Example Code demonstrates both techniques.

In [24]:
# Looping in Reverse
nums = [1, 3, 5, 2, 4]
print("Original sequence:", nums)

for num in reversed(nums):
    print("In reverse:", num)

# Looping in Sorted Order
fruits = ['orange', 'apple', 'banana', 'pear']
print("\nOriginal sequence:", fruits)

for fruit in sorted(fruits):
    print("In sorted order:", fruit)

# Verify that the original sequences are unaltered
print("\nOriginal nums after reverse loop:", nums)
print("Original fruits after sorted loop:", fruits)

Original sequence: [1, 3, 5, 2, 4]
In reverse: 4
In reverse: 2
In reverse: 5
In reverse: 3
In reverse: 1

Original sequence: ['orange', 'apple', 'banana', 'pear']
In sorted order: apple
In sorted order: banana
In sorted order: orange
In sorted order: pear

Original nums after reverse loop: [1, 3, 5, 2, 4]
Original fruits after sorted loop: ['orange', 'apple', 'banana', 'pear']

# Section 5.6: Unique and Sorted Elements & Modifying Lists During Loops

- **Using `set()` and `sorted()`**:
  - `set()` eliminates duplicate elements in a sequence.
  - `sorted()` can then sort the unique elements.
  - This is an idiomatic way to loop over unique elements in sorted order.

- **Modifying Lists During Loops**:
  - Modifying a list while looping over it can lead to unexpected behavior.
  - It is safer to create a new list instead of directly modifying the original.

- Example Code demonstrates these concepts.

In [25]:
# Using set() and sorted() to loop over unique and sorted elements
sequence = ['apple', 'orange', 'apple', 'banana', 'pear', 'orange']
unique_sorted = sorted(set(sequence))
print("Unique and sorted elements:", unique_sorted)

for element in unique_sorted:
    print("Element:", element)

# Modifying a list during a loop (unsafe example)
nums = [1, 2, 3, 4]
for num in nums:
    if num % 2 == 0:
        nums.remove(num)  # Removing elements while iterating
print("After unsafe modification:", nums)  # May behave unexpectedly

# Safer way: create a new list
nums = [1, 2, 3, 4]
new_nums = [num for num in nums if num % 2 != 0]
print("After safe modification:", new_nums)

Unique and sorted elements: ['apple', 'banana', 'orange', 'pear']
Element: apple
Element: banana
Element: orange
Element: pear
After unsafe modification: [1, 3]
After safe modification: [1, 3]

# Section 5.7: More on Conditions

- **Operators in `while` and `if` Statements**:
  - Can include any type of operator, not just comparisons.

- **Comparison Operators**:
  - `in` / `not in`: Check whether a value occurs (or does not occur) in a sequence.
  - `is` / `is not`: Check whether two objects are the same object in memory.

- **Operator Priority**:
  - All comparison operators have the same priority.
  - Their priority is lower than numerical operators (e.g., addition or multiplication).

- **Chained Comparisons**:
  - Comparisons can be chained for concise expressions.
  - Example: `a < b == c` checks whether `a` is less than `b` and `b` equals `c`.

- Example Code demonstrates these concepts.

In [26]:
# Conditions and Comparisons

# Using comparison operators in if/while
x = 5
if x > 3 and x < 10:  # Logical and comparison operators
    print("x is between 3 and 10.")

# 'in' and 'not in' Operators
sequence = [1, 2, 3, 4]
print("2 in sequence:", 2 in sequence)
print("5 not in sequence:", 5 not in sequence)

# 'is' and 'is not' Operators
a = [1, 2, 3]
b = [1, 2, 3]
print("a is b:", a is b)  # False (different objects)
print("a == b:", a == b)  # True (same values)

# Chained Comparisons
a, b, c = 2, 3, 3
print("a < b == c:", a < b == c)  # True (a < b and b == c)

x is between 3 and 10.
2 in sequence: True
5 not in sequence: True
a is b: False
a == b: True
a < b == c: True

# Section 5.7: More on Conditions (cont.)

- **Combining Comparisons with Boolean Operators**:
  - Comparisons can be combined using `and`, `or`, and negated using `not`.
  
- **Operator Precedence**:
  - Boolean operators have lower precedence than comparison operators.
  - `not` has the highest priority among Boolean operators.
  - `and` has a higher priority than `or`.

- **Evaluation Order**:
  - `A and not B or C` is evaluated as: `(A and (not B)) or C`
  - Parentheses can be used to explicitly control the order of operations.

- **Example Code demonstrates these concepts.**

In [27]:
# Boolean Operators and Precedence

A = True
B = False
C = True

# Default Evaluation Order: A and not B or C
result = A and not B or C
print("Result of A and not B or C:", result)  # Equivalent to (A and (not B)) or C

# Using Parentheses for Clarity
result_with_parentheses = A and (not B) or C
print("With parentheses:", result_with_parentheses)

# Testing Precedence
x, y, z = 5, 10, 0

# 'not' has highest priority
print("not x < y:", not x < y)  # False (negates True)

# 'and' has higher priority than 'or'
print("x < y and y > z or z == 0:", x < y and y > z or z == 0)
# Equivalent to: (True and True) or True → True or True → True

# Parentheses for explicit control
print("(x < y and (y > z or z == 0)):", (x < y and (y > z or z == 0)))
# Equivalent to: True and (True or True) → True and True → True

Result of A and not B or C: True
With parentheses: True
not x < y: False
x < y and y > z or z == 0: True
(x < y and (y > z or z == 0)): True

# Section 5.7: More on Conditions (cont.)

- **Short-Circuit Evaluation:**
  - Boolean operators `and` and `or` evaluate left to right.
  - Evaluation **stops as soon as the outcome is determined**.
  - Example: If `A and B and C`, and `B` is `False`, `C` is **never evaluated**.

- **Return Values in Short-Circuiting:**
  - When used as general values (not just Booleans), `and` and `or` return the **last evaluated argument**.

- **Assigning Boolean Expressions:**
  - The result of a Boolean expression can be stored in a variable.

- **Walrus Operator (`:=`):**
  - Python **does not allow** assignment inside expressions using `=`, unlike C.
  - Instead, the **walrus operator (`:=`)** must be used.
  - This prevents common mistakes where `=` is used instead of `==`.

- **Example Code demonstrates these concepts.**

In [28]:
# Short-Circuit Evaluation Example

A, B, C = True, False, True

# 'B' is False, so 'C' is never evaluated
result = A and B and C
print("Result of A and B and C:", result)  # Output: False

# 'or' short-circuits after the first True value
result_or = A or B or C
print("Result of A or B or C:", result_or)  # Output: True (A is True, so B and C are not checked)

# Demonstrating return values of short-circuiting
print("Short-circuit return value (and):", A and B)  # Returns B (False)
print("Short-circuit return value (or):", A or B)   # Returns A (True)

# Assignment inside expressions using the Walrus Operator (:=)
if (n := len("Hello World")) > 5:
    print(f"String length is {n}, which is greater than 5.")

# Incorrect: Uncommenting the following line will cause a SyntaxError
# if n = 5:  # This is not allowed in Python
#     print(n)

Result of A and B and C: False
Result of A or B or C: True
Short-circuit return value (and): False
Short-circuit return value (or): True
String length is 11, which is greater than 5.

# Section 5.8: Comparing Sequences and Other Types

- **Comparing Sequences**:
  - Sequence objects (e.g., lists, tuples, strings) can be compared to others of the same type.
  - Comparisons use **lexicographical ordering**.

- **Lexicographical Ordering**:
  1. The first two items are compared.
  2. If they differ, this determines the outcome.
  3. If they are equal, the next two items are compared.
  4. This continues until either sequence is exhausted.

- **Recursive Comparisons**:
  - If elements being compared are themselves sequences, their comparison is done recursively.

- **Rules for Comparison**:
  - If all items in two sequences are equal, the sequences are **considered equal**.
  - If one sequence is a **sub-sequence** of another, the shorter sequence is considered **smaller**.

- **Strings and Unicode**:
  - Strings follow lexicographical order based on **Unicode code point numbers**.

- **Example Code demonstrates these concepts.**

In [29]:
# Lexicographical Comparison of Sequences

# List comparison
list1 = [1, 2, 3]
list2 = [1, 2, 4]
list3 = [1, 2, 3, 0]

print("list1 < list2:", list1 < list2)  # True (compares 3 < 4)
print("list1 == list3:", list1 == list3)  # False (list3 has extra element)
print("list1 < list3:", list1 < list3)  # True (shorter sequence is smaller)

# Tuple comparison (same rules as lists)
tuple1 = (10, 20, 30)
tuple2 = (10, 20, 40)

print("tuple1 < tuple2:", tuple1 < tuple2)  # True (compares 30 < 40)

# Recursive Comparison
nested_tuple1 = (1, (2, 3))
nested_tuple2 = (1, (2, 4))

print("nested_tuple1 < nested_tuple2:", nested_tuple1 < nested_tuple2)  # True (compares 3 < 4)

# String comparison (Unicode ordering)
print("'apple' < 'banana':", "apple" < "banana")  # True ('a' < 'b')
print("'abc' < 'abcd':", "abc" < "abcd")  # True (shorter string is smaller)
print("'Zebra' < 'apple':", "Zebra" < "apple")  # True ('Z' < 'a' in Unicode)

list1 < list2: True
list1 == list3: False
list1 < list3: True
tuple1 < tuple2: True
nested_tuple1 < nested_tuple2: True
'apple' < 'banana': True
'abc' < 'abcd': True
'Zebra' < 'apple': True

#Other useful built-in functions
- `lambda` expression with `if-else`:
  - Syntax: `lambda x: value_if_true if condition else  value_if_false`
- `map(function, iterable)`:

  - `map()` is used to appplied a specific function into the iterable data structure to transform each element
  - You can use any function, including `lambda` function
  - `map()` return the iterator. In order to convert the iterator into a list, we can use the list constructor: `list()`
  - You can also add `if` statement in your `lambda` function to select the elements based on specific conditions

- `filter(function, iterable)`:

  - `filter()` is used to select/remove elements based on specific conditions from a iterable data structure.
  - Similar to `map()`, you can use `lambda` as your function
  - `filter()` return iterator, so use list() to convert to a list
  - `function` that is used in `filter` oftentimes return `True` or `False`

- `string.strip([chars])`:

  - `strip()` is used to remove leading(beginning) and trailing(ending) characters of a string. By default, `strip()` will remove white space character
  - `strip()` will return a new string and will not modify the original string
  - `strip()` will keepremoving characters from the beginning and end of the string until it encounters a character that is not in the set of characters.

In [33]:
list1 = [1,2,3,4,5]
list2 = ['david', 'john']
#Example of map() with lambda expression
new_list = list(map(lambda x: x.upper(), list2))
print("Using map() to convert to uppercase:", new_list)

#Example of map() with lambda expression
not_even = list(map(lambda x: x**2 if x**2%2 != 0 else x, list1))
print("Return square if square is not even, otherwise return the original element:", not_even)

Using map() to convert to uppercase: ['DAVID', 'JOHN']
Return square if square is not even, otherwise return the original element: [1, 2, 9, 4, 25]

In [2]:
list1 = [-1,4,-6,-7,8,9]

def greater_than_zero(x):
  if x > 0:
    return True
  else:
    return False

#Example of using filter and defined function
new_list = list(filter(greater_than_zero, list1))
print("Remove negative numbers:", new_list)

#Example of using filter and lambda to remove negative numbers
new_list = list(filter(lambda x: x < 0, list1))
print("Remove positive numbers:", new_list)

Remove negative numbers: [4, 8, 9]
Remove positive numbers: [-1, -6, -7]

In [7]:
#Using strip to remove white space
str_with_space = "            Hello            "
print("Original string:", str_with_space)
str_without_space = str_with_space.strip()
print("String without space:", str_without_space)

#Using strip() to remove other characters
str_with_letter = "abcabcbcHelloabcabcb"
print("Original string:", str_with_letter)
str_without_letter = str_with_letter.strip('abc')
print("String without letter:", str_without_letter)

#Example  of accidentally remove character with strip()
str_apple = "ababababcappleababacba"
print("Original string:", str_apple)
str_without_abc = str_apple.strip('abc')
print("String without abc:", str_without_abc)

Original string:             Hello
String without space: Hello
Original string: abcabcbcHelloabcabcb
String without letter: Hello
Original string: ababababcappleababacba
String without abc: pple